.container{
  width: 40rem;
    height: 38rem;
}

.col-md-6{
  width: 37%!important;
}

.button{
  margin-left: 26rem;
  margin-bottom: 11px;
  margin-top: -81px;
}

.toolbar{
  margin-left: -34px;
  background: #142346;
  color: white;
  margin-top: 10px;
}

.submit{
  background: rgb(49 67 110);
    color: white;
    margin-left: -8px;
    margin-right: 8px;
}
