
.form-row {
  display: flex;
}

.example-full-width {
  background: white;
  border-radius: 3px;
  height: 19px;
  padding-bottom: 33px;
}

.toolbar{
    margin-left: -34px;
    background: #142346;
    color: white;
    margin-top: 10px;
}

.container{
  margin-bottom: 2rem;
}

.button{
  margin-bottom: 15px;
    margin-top: -14px;
    margin-left: 358px;
}

.submit{
  background: rgb(49 67 110);
    color: white;
    margin-left: -8px;
    margin-right: 8px;
}

.reset{
  background: red;
  color: white;
}
